{% extends "layout.html" %}

{% block content %}
<script>
    // LIFFの初期化を行う
    liff.init({
        // 自分のLIFF ID（URLから『https://liff.line.me/』を除いた文字列）を入力する
        liffId: "1657716201-yPa1LXDK"
    }).then(() => { // 初期化完了. 以降はLIFF SDKの各種メソッドを利用できる
        // 利用者のLINEアカウントのプロフィール名を取得
        liff.getProfile().then(profile => {
            console.log(profile);
            // プロフィール名
            const userId = profile.userId;
            const name = profile.displayName;
            const pictureUrl = profile.pictureUrl;
            const statusMessage = profile.statusMessage;
            // HTMLに挿入
            document.querySelector("#userId").innerText = userId;
            document.querySelector("#name").innerText = name;
            document.querySelector("#pictureUrl").innerText = statusMessage;
            document.querySelector("#statusMessage").innerText = statusMessage;
        })
    })
</script>
<h1>LINE LIFF</h1>
<table>
    <tr>
        <th>LINE ID</th>
        <th>都道府県</th>
        <th>市区町村</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.line_id }}</td>
        <td>{{ user.prefecture }}</td>
        <td>{{ user.municipality }}</td>
    </tr>
    {% endfor %}
</table>
<div>
    <a href="/setting?prefecture=iwate&municipality=hachimantai">受信設定</a>
</div>
{% endblock %}