<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
</head>

<body>
    <script>
        // LIFFの初期化を行う
        liff.init({
            // 自分のLIFF ID（URLから『https://liff.line.me/』を除いた文字列）を入力する
            liffId: "1657716201-yPa1LXDK"
        }).then(() => { // 初期化完了. 以降はLIFF SDKの各種メソッドを利用できる
            // 利用者のLINEアカウントのプロフィール名を取得
            liff.getProfile().then(profile => {
                console.log(profile);
                // プロフィール名
                const userId = profile.userId;
                const name = profile.displayName;
                const pictureUrl = profile.pictureUrl;
                const statusMessage = profile.statusMessage;
                // HTMLに挿入
                document.querySelector("#userId").value = userId;
                document.querySelector("#name").innerText = name;
                document.querySelector("#pictureUrl").innerText = pictureUrl;
                document.querySelector("#statusMessage").innerText = statusMessage;
            })
        })
    </script>
    LINE LIFF
    <form action="/setting" method="post">
        <input id="userId" type="text" name="line_id">
        <input type="hidden" name="prefecture" value="{{ prefecture }}">
        <input type="hidden" name="municipality" value="{{ municipality }}">
        カテゴリ1<input type="checkbox" name="category01">
        カテゴリ2<input type="checkbox" name="category02">
        カテゴリ3<input type="checkbox" name="category03">
        <input type="submit" value="送信">
    </form>
</body>

</html>