{% extends "layout.html" %}

{% block content %}
LINE LIFF
<div><span id="userId"></span>.</div>
<div><span id="name"></span>.</div>
<div><span id="pictureUrl"></span>.</div>
<div><span id="statusMessage"></span>.</div>
<form action="/setting" method="post" id="settingForm" name="settingForm">
    <input id="line_id" type="text" name="line_id">
    <input type="hidden" name="prefecture" value="{{ prefecture }}">
    <input type="hidden" name="municipality" value="{{ municipality }}">
    カテゴリ1<input type="checkbox" name="category01">
    カテゴリ2<input type="checkbox" name="category02">
    カテゴリ3<input type="checkbox" name="category03">
    <input type="submit" value="送信" onclick="funcBtn();">
</form>
<script>
    function funcBtn() {
        let ele = document.querySelector('#line_id');
        document.settingForm.appendChild(ele);
    }
    // LIFFの初期化を行う
    liff.init({
        // 自分のLIFF ID（URLから『https://liff.line.me/』を除いた文字列）を入力する
        liffId: "1657716242-8B65pDVW"
    }).then(() => { // 初期化完了. 以降はLIFF SDKの各種メソッドを利用できる
        // 利用者のLINEアカウントのプロフィール名を取得
        liff.getProfile().then(profile => {
            console.log(profile);
            // プロフィール名
            const line_id = profile.userId;
            const name = profile.displayName;
            const pictureUrl = profile.pictureUrl;
            const statusMessage = profile.statusMessage;
            // HTMLに挿入
            document.querySelector("#line_id").value = line_id;
            document.querySelector("#userId").innerText = line_id;
            document.querySelector("#name").innerText = name;
            document.querySelector("#pictureUrl").innerText = pictureUrl;
            document.querySelector("#statusMessage").innerText = statusMessage;
        })
    })
</script>
{% endblock %}